.icon {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.close {
  background-image: url('../img/icon/close.svg');
}

.up-arrow {
  background-image: url('../img/icon/up-arrow.svg');
}

.cart {
  background-image: url('../img/icon/cart.svg');
  position: absolute;
  right: 2rem;
}