@charset "UTF-8";

@font-face {
  font-family: "pokeshop";
  /* src: url("../fonts/pokeshop.eot"); */
  /* src: url("../fonts/pokeshop.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pokeshop.woff") format("woff"),
    url("../fonts/pokeshop.ttf") format("truetype"),
    url("../fonts/pokeshop.svg#pokeshop") format("svg"); */
  src: url("../fonts/pokeshop.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

[data-icon]:before {
  font-family: "pokeshop" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pokeshop" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\62";
}
.icon-angle-up:before {
  content: "\61";
}
.icon-angle-down:before {
  content: "\63";
}
.icon-chevron-up:before {
  content: "\64";
}
.icon-cart:before {
  content: "\65";
}
